@model Team

@{
    ViewData["Title"] = "Details";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" >@Model.Name.ToUpper()</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Full Name</th>
            <td id="fullName"></td>
        </tr>
        <tr>
            <th scope="row">Abbreviation</th>
            <td>@Model.Abbreviation</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td id="city"></td>
        </tr>
        <tr>
            <th scope="row">Conference</th>
            <td id="conference"></td>
        </tr>
        <tr>
            <th scope="row">Division</th>
            <td id="division"></td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        $.get("https://www.balldontlie.io/api/v1/teams/" + @Model.Id, function (data, status) {
            $("#city").text(data.city);
            $("#conference").text(data.conference);
            $("#division").text(data.division);
            $("#fullName").text(data.full_name);
        });
    });

</script>

